@font-face {
	font-family: "Rajdhani-Bold";
	src: url("../Fonts/Rajdhani-Bold.ttf");
	font-display: swap;
}
@font-face {
	font-family: "Rajdhani-SemiBold";
	src: url("../Fonts/Rajdhani-SemiBold.ttf");
	font-display: swap;
}
@font-face {
	font-family: "Rajdhani-Medium";
	src: url("../Fonts/Rajdhani-Medium.ttf");
	font-display: swap;
}
@font-face {
	font-family: "Rajdhani-Regular";
	src: url("../Fonts/Rajdhani-Regular.ttf");
	font-display: swap;
}

:root {
	--timerSize: 24px;
	--bg-primary: #150243;
	--bg-dark: #000000;

	--container-bg: #07001680;
	--card-bg: #30069240;
	
	--accent-purple: #411593;
	--accent-green: #1fe06f;
	--border-green: #119835;
	
	--text-light: #f1e3ff;
}
@property --radial-fill {
	syntax: '<percentage>';
	initial-value: 0%;
	inherits: false;
}
@property --progress-fill {
	syntax: '<percentage>';
	initial-value: 0%;
	inherits: false;
}

*, *::before, *::after {
	box-sizing: border-box;
}
body {
	font-family: "Rajdhani-Regular", sans-serif;
	background: linear-gradient(to top, var(--bg-primary), var(--bg-dark));
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	color: var(--text-light);

	display: grid;
	grid-template-rows: auto 1fr auto;
	align-items: stretch;
	justify-items: center;
	gap: 16px;
	
	width: 100%;
	height: 100dvh;
	margin: 0;
	padding: 16px;
}
h1, h2, h3 {
	font-family: "Rajdhani-Bold", sans-serif;
}
h4, h5, h6 {
	font-family: "Rajdhani-SemiBold", sans-serif;
}
p {
	font-family: "Rajdhani-Medium", sans-serif;
}
a {
	font-family: "Rajdhani-Regular", sans-serif;
}
hr {
	border: dashed 1px var(--text-light);
	margin: 4px 0px;
}

#radialTimer {
	width: var(--timerSize);
	height: var(--timerSize);
	background: conic-gradient(#fff var(--radial-fill), transparent 0);
	clip-path: circle(50% at 50% 50%);

	position: absolute;
	top: var(--timerSize);
	right: var(--timerSize);
}
.queueTitle {
	margin: 4px 0px;
	text-align: center;
}
#progressBar {
	display: flex;
	justify-content: center;
	align-items: center;

	background: linear-gradient(to right, var(--accent-green) var(--progress-fill), var(--container-bg) 0);
	border: solid 2px var(--border-green);
	border-radius: 8px;

	width: 100%;

	height: 16px;
	margin: 4px 0px;
}
#financialProgressText {
	text-shadow: 0px 0px 2px var(--bg-primary), 0px 0px 4px var(--accent-purple), 0px 0px 6px var(--accent-purple);
	text-align: center;
	margin: 0px;
}

#queuesContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto 1fr;
	gap: 16px;

	width: 100%;
	min-height: 0;
}
#orderQueue, #reservationQueue {
	background-color: var(--container-bg);
	border-radius: 8px;

	display: grid;
	align-content: start;
	gap: 16px 0px;
	padding: 8px;

	overflow-y: auto;

	width: 100%;
	min-width: 320px;
	min-height: 0;

	order: 1;
}
.queue-card {
	display: block;
}

.card-description, .card-order {
	margin: 4px 0px;
	padding: 4px;
}
.card-reservation {
	--card-bg: #7b069240;
	--accent-purple: #8d1593;
	margin: 0px;
}
.card-id {
	background-color: var(--accent-purple);
	font-size: 1.25rem;
	text-align: center;

	max-width: 256px;
	margin: 0px auto;
	padding: 2px;

	clip-path: polygon(0% 100%, 8px 0%, calc(100% - 8px) 0%, 100% 100%, 0% 100%);
}
.card-body {
	background-color: var(--card-bg);
	border: solid 2px var(--accent-purple);
	border-radius: 8px;

	padding: 4px 8px;
	margin: 0px;
}
.card-order {
	font-size: 1.125rem;
}

@media screen and (max-width: 768px) {
	#queuesContainer {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto 1fr;
	}
	.queueTitle:nth-child(1) {
		order: 1;
	}
	#orderQueue {
		order: 0;
	}
	#reservationQueue {
		order: 1;
	}
}